@model EditUserVM


<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Edit User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form method="post" asp-action="Edit" asp-controller="Users">
        <div class="modal-body">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="row">
                <div class="col mb-3">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input type="text" class="form-control" placeholder="Enter email" asp-for="Email">
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    <label asp-for="Year" class="form-label">Year</label>
                    <input type="text" class="form-control" placeholder="Enter Year" asp-for="Year">
                </div>
            </div>
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>
